

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 4 Feb, 2022, 12:25:38 PM
    Author     : fwcbn
*/

* {
  margin: 0;
  padding: 0;
}

.bg-color {
  background-color: #16223e;
  padding-top: 15px;
  /* padding-bottom: 10px;*/
}

.padding-top {
  padding-top: 8%;
}

.wappr {
  width: 90%;
  margin: 0 auto;
}

.t-m ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-m ul li {
  padding: 5px;
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

.pointer a {
  text-decoration: none;
  color: white!important;
}

.t-m ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.navs ul {
  margin-top: 8px;
  color: white!important;
}

.c-bg {
  margin-top: 3%
}

.c-bg h2 {
  color: white;
  font-weight: bold;
}

.reg-form h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

.a-link a {
  text-decoration: none;
  color: #16223e;
}

.box-sty {
  background: white;
  padding: 20px;
  border-radius: 12px !important;
  padding: 30px;
  margin-top: -44%;
  padding-bottom: 35px;
  padding-top: 35px;
}

.box-p {
  font-size: 12px;
  margin-top: 2px;
}

.reg-form .form-control {
  border-radius: 5px !important;
  background-color: #d3d3d3 !important;
  border: none !important;
  color: #000 !important;
  padding: 5px !important;
  margin-bottom: 20px;
}

.reg-form .form-check {
  display: inline-block !important;
  padding-right: 10px;
}

.box-p2 {
  margin-top: 25px;
  font-size: 14px;
}

.box-p2 button {
  padding: 0.25rem 1.3rem !important;
}

.b-sty {
  background-color: #16223e !important;
  border-radius: 10px !important;
}

.main-box {
  padding: 20px;
  background-color: white;
  width: 155px;
  margin-top: 80px !important;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-right: 10px !important;
  display: inline-block;
}

.main-box .text-b {
  margin-top: 15px;
  text-align: center;
  color: #a6aab1;
}


/*.circle {
  margin-bottom: 10px;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 58px;
}
*/


/*.user-image1 {
  background-image: url(../img/p1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.user-image2 {
  background-image: url(../img/p2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.user-image3 {
  background-image: url(../img/ad.png);
  background-size: cover;
  background-repeat: no-repeat;
}
*/

.btn-primary {
  border: none!important;
}

.button {
  border-radius: 8px;
  border: 1px solid lightgrey!important;
  border: none;
  color: lightgray;
  text-align: center;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 5px;
  width: 90%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  color: #fff;
  background-color: #16223e;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.profile-card {
  margin-top: 23px;
  text-align: center;
}

.text-b {
  margin-top: 15px;
  text-align: center;
  color: #a6aab1;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

.text-b h6 {
  font-size: 14px;
}

.text-b p {
  font-size: 12px;
  margin-bottom: 5px;
}

.card-1 {
  width: 30%;
  border: 1px solid lightgrey;
  padding: 5px;
  display: inline-block;
  margin-right: 4px;
  border-radius: 10px;
}

.top-line {
  margin-top: 10px;
  border-top: 2px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.b-l {
  border-top: 2px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p {
  color: #a6aab1;
  margin-bottom: 0px;
}

.p-img img {
  padding-top: 10px;
}

.social-icon img {
  margin-left: 20px;
}

.m-v {
  display: none;
  margin-top: 225px;
}

.top-m {
  margin-top: 13%!important;
  padding-top: 3%!important;
  /*  margin-top: 68px!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;*/
  border: 1px solid lightgrey;
}

@media only screen and (min-width: 30.0625em) and (max-width: 40em) {
  .m-v {
    display: block;
  }
}

.modal-body .hight-o {
  margin-top: 40%!important;
}

.modal-body .box-sty {
  padding-top: 0px !important;
}


/*# sourceMappingURL=style.css.map */

.about-us {
  margin-top: 4%;
  background: #E8E8E8;
  padding-top: 4%;
  padding-bottom: 4%;
}

.about-img img {
  max-width: 100%;
  width: 100%;
  border: 10px solid lightgray;
  border-radius: 15px;
}

.s-t {
  font-size: 12px;
}

.p-tb {
  margin-top: 4%;
}

.b-map {
  border: 4px solid lightgrey;
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  height: 417px;
}

.m-t {
  margin-top: 5%;
}

.height-textbox {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ccc;
  height: 150px;
  resize: vertical;
  margin-bottom: 10px;
}

.zero-m {
  margin-top: 0px!important;
}

.our-team {
  margin-top: 4%
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  border: 1px solid lightgrey;
  background: white;
  color: #16223e;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #16223e;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
  .reg-form {
    margin-top: 45%!important;
  }
  .logo img {
    width: 100%;
    max-width: 100%
  }
  .c-bg h2 {
    margin-top: 10%
  }
  .bg-color {
    padding-bottom: 10px;
  }
  .top-m {
    margin-top: 0%!important;
    margin-top: -40% !important;
  }
  .text-ab h3 {
    margin-top: 20px
  }
  .text-ab p {
    text-align: justify;
  }
}

